.container {
    padding: 100px;
    text-align: center;
    letter-spacing: 2px;
}
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}


.title {
    font-size: 28px;
    color: #3f355d;
}

.add-color-container {
    margin: 50px 0;
}
.colors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.input-container {
    display: inline-block;
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
label {
    text-align: left;
    font-size: 14px;
    color: #3f355d;
}
input {
    height: 40px;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    margin-right: 10px;
    width: 160px;
    cursor: pointer;
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 48px;
    height: 48px;
    padding: 0;
    background-color: transparent;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 8px;
    border: 1px solid #e4e4e4;
}
.error {
    font-size: 12px;
    color: #8a0000;
}
.submit {
    background: #9087F8;
    height: 46px;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
}
.color-container {
    padding: 10px 10px 26px 10px;
    background: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
    max-width: 120px;
    position: relative;
}
.color-box {
    width: 100px;
    height: 120px;
    border-radius: 8px;
}
.color-container p {
    margin: 5px 0;
    font-size: 14px;
    color: #8c8b8b;
    max-width: 100px;
    overflow-wrap: break-word;
}
.delete {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 11px;
    color: #8a0000;
}

@media (max-width: 420px) {
    form {
        flex-direction: column;
        /* justify-content:center; */
        align-items: center;
    }
    label {
        text-align: center;
    }
    input {
        margin-bottom: 10px;
        margin-right: 0;
    }
}
